<footer>
    <div class="py-4 m-4">
        <div class="author">
            <p>Created by Ilia Boiarintsev</p>
        </div>
        <div class="social-links">
            <a href="https://t.me/ilia010310" target="_blank"><img src="/media/icons/telegram.png" alt="Telegram"></a>
            <a href="https://www.instagram.com/theilyaboyarintsev?igsh=eHg1NWE2YmZuMWNy" target="_blank"><img src="/media/icons/instagram.png" alt="Instagram"></a>
            <a href="https://vk.com/id114463941" target="_blank"><img src="/media/icons/vk.png" alt="VK"></a>
            <a href="https://www.linkedin.com/in/ilia-boiarintsev-28a3b529a/" target="_blank"><img src="/media/icons/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/ilia010310" target="_blank"><img src="/media/icons/github.png" alt="Github"></a>


        </div></div>
</footer>