{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
        назад
    </a>
    {% endif %}

    {% for page_number in page_obj.paginator.page_range %}
    {% if page_number == page_obj.number %}
    <span class="page-link active">
                    {{ page_number }}
                </span>
    {% elif page_obj.number|add:"-3" <= page_number <= page_obj.number|add:"3" %}
    <a href="?page={{ page_number }}" class="page-link">
        {{ page_number }}
    </a>
    {% elif page_number == page_obj.number|add:"-4" %}
    <span class="page-link">...</span>
    {% elif page_number == page_obj.number|add:"4" %}
    <span class="page-link">...</span>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="page-link">
        вперед
    </a>
    {% endif %}
</div>
{% endif %}
