{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="mb-4">Спасибо!</h1>
    {% if sent %}
    <h2>Заказ принят в обработку, ожидайте</h2>
    {% else %}
</div>

<div style="margin-right: 25%; margin-left: 5%;
background: #FFFFFF; display: flex; justify-content: center;
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px; text-align: center;">
    <div class="form-order" style="padding: 3% 20%">
        <p>
        <h2>Пожалуйста оставьте свои данные</h2>
        </p>
        <h6>Мы свяжемся с Вами</h6>
        {% if form_errors %}
        <div class="error" style="background: grey; border-radius: 10px; box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);">
            <p>{{ form_errors }}</p>
        </div>
        {% endif %}
        <form method="post" class="form mt-4">
            {% for field in form %}
            <div class="mb-3">
                {{ field }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <input type="submit" value="Отправить" class="btn btn-primary btn btn-warning">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}