{% extends 'main.html' %}
{% load static %}

{% block content %}
<br>
<div class="container mt-5">
    <h1 class="mb-4">Контакты</h1>
    <br>
    <div class="about_us">
        <ul>
            <br>
            <li>Видергольд Виталий Эдуардович, тел: +7-912-716-50-74, email: v9127165074@gmail.com</li>
        </ul>
    </div>
    <br> <br>

    <a href="{% url 'about:call_back' %}">
        <input class="btn btn-primary btn btn-warning" type="submit" value="Заказать обратный звонок">
    </a>
</div>
{% endblock %}