{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="col-lg-3">
                <div class="product-item">
                    <div class="product-image-item">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.avatar.url }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="text-center">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h5>
                       <div>
                        <p class="price">
                            Цена: {{  product.price }} руб.
                        </p>
                        </div>
                        <div class="container mt-2">
                            <div class="">
                                <div class="col-md-8">
                                    <form class="d-flex" action="{% url 'cart:cart_add' product.id %}" method="post">
                                        <div class="flex-grow-1 me-2">
                                             <input type="text" class="form-control"
                                                    id="{{ cart_item_form.quantity.id_for_label }}"
                                                    name="{{ cart_item_form.quantity.name }}"
                                                    value="{{ cart_item_form.quantity.value }}"
                                                    placeholder="1">
                                            {% csrf_token %}
                                        </div>

                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-primary btn-sm">В корзину</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
