{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            {% if images %}
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for image in images %}
                    <button type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.first %} class="active" aria-current="true" {% endif %}
                            aria-label="Slide {{ forloop.counter }}">
                    </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}" data-bs-interval="5000">
                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.alt }}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {% else %}
            <img src="{{ product.avatar.url }}" alt="{{ product.name }}">
            {% endif %}

        </div>
        <div class="col-lg-6">
            <h1 class="text-center">
                {{ product.name }}
            </h1>

            <div>
                <!-- Tab panes -->
                <div class="tab-content product-description-tabs">
                    <div role="tabpanel" class="tab-pane active" id="description">
                        {{ product.description }}
                    </div>
                </div>
                <hr>
                <div class="">
                    <p>
                        Цена: {{ product.price }} рублей
                    </p>
                </div>
                <div>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ cart_item_form.as_p }}
                        {% csrf_token %}
                        <input class="btn btn-primary btn btn-warning" type="submit" value="В корзину">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


