html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;


}


footer {
    text-align: center;
}

.row {
    min-width: 100%;
}

.author {
    margin-top: 16px;
    margin-right: 20px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}

.social-links img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    margin-bottom: 10px;
}

.product-item {
    height: 410px;
    background-color: white;
    border: 0.4px solid black;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}



.product-image-item {
    height = 20%;
    padding: 5px;
    margin-bottom: 3px;
}
